<% layout('layouts/boilerplate') -%> <% include('../partials/flash') %>

<div class="bg-[#e9ecef] mt-16">
  <div class="w-full mx-auto p-6">
    <div class="flex flex-col justify-center items-center space-y-2">
      <h2 class="text-2xl font-[500] text-gray-700 text-center pt-2">
        Update Category
      </h2>
      <p class="text-md font[400] text-gray-700 mb-2">
        Information to help update a category
      </p>
    </div>
    <div class="mt-2 p-6 bg-white shadow-md">
      <form
        action="/api/category/<%= category._id %>?_method=PATCH"
        method="POST"
      >
        <div class="w-full sm:flex sm:flex-row justify-between">
          <div class="sm:flex-1 sm: mr-2 mb-4">
            <label
              for="title"
              class="block text-md font-[400] text-gray-700 mb-1"
              >Category Name</label
            >
            <input
              type="text"
              id="title"
              name="title"
              value="<%= category.title %>"
              class="w-full p-2 text-gray-800 border border-gray-200 hover:border-gray-500 outline-none focus:border-blue-600 rounded-md"
              placeholder="Enter category name here..."
              required
            />
          </div>
          <div class="sm:flex-1 sm: mr-2 mb-4">
            <label
              for="images"
              class="block text-md font-[400] text-gray-700 mb-1"
              >Category Images</label
            >
            <input
              type="text"
              id="images"
              name="images"
              value="<%= category.images %>"
              class="w-full p-2 text-gray-800 border border-gray-200 hover:border-gray-500 outline-none focus:border-blue-600 rounded-md"
              placeholder="Enter category images url here"
              required
            />
          </div>
        </div>
        <div class="flex justify-center">
          <button
            type="submit"
            class="px-6 py-2 text-white font-[500] bg-blue-600 hover:bg-blue-700 rounded-md border focus:border-blue-800"
          >
            Update category
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
