<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I-Mart shopping store</title>
    <link rel="icon" type="image/png" href="/images/i-mart-logo.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/f4d9037195.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body class="bg-white">
    <%- include('./partials/navbar') %>

    <div class="flex flex-col justify-center items-center mt-[4rem] mb-[2rem]">
      <div class="my-6 text-center text-black">
        <h1 class="text-2xl md:text-3xl font-bold">Welcome to I-Mart Store</h1>
      </div>
      <div class="flex flex-wrap justify-center">
        <div class="bg-white rounded-lg shadow-lg m-4 max-w-xs">
          <img
            src="https://media.istockphoto.com/id/618943982/photo/shopping-girls-are-laughing-on-the-escalator-in-mall.jpg?s=612x612&w=0&k=20&c=UVnrXDMYjbS7K4h7IBRW95EwKKX_j4dwEqY6nEjry1I="
            alt="Product 1"
            class="rounded-t-lg"
          />
          <div class="p-4">
            <p class="font-semibold text-lg text-gray-800">Fashion Shopping</p>
            <p class="text-sm text-gray-600">
              Discover the latest fashion trends and shop for your favorite
              clothing items.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg m-4 max-w-xs">
          <img
            src="https://media.istockphoto.com/id/487163490/photo/fashion-smiling-hipster-woman-having-fun-taking-picture-self-por.jpg?s=612x612&w=0&k=20&c=PzBLl8nG-teQX37Ho0wzKdmjMRi0EwII-1UQSIEm0aI="
            alt="Product 2"
            class="rounded-t-lg"
          />
          <div class="p-4">
            <p class="font-semibold text-lg text-gray-800">
              Mobile & Beauty Products
            </p>
            <p class="text-sm text-gray-600">
              Explore a wide range of mobile devices and beauty products for all
              your needs.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg m-4 max-w-xs">
          <img
            src="https://media.istockphoto.com/id/1362508125/vector/modern-3d-illustration-of-online-shopping.jpg?s=612x612&w=0&k=20&c=FLd82wTjDmo0HiFzuIKCSaNntSPH8O1sZ_OnSwmvS74="
            alt="Product 3"
            class="rounded-t-lg"
          />
          <div class="p-4">
            <p class="font-semibold text-lg text-gray-800">I-Mart E-commerce</p>
            <p class="text-sm text-gray-600">
              Build your online store with I-Mart and start selling products
              globally.
            </p>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-lg m-4 max-w-xs">
          <img
            src="https://media.istockphoto.com/id/1087865474/vector/secure-online-shopping-protected-payments-using-credit-card-concept.jpg?s=612x612&w=0&k=20&c=uQOFM-ctCmSRip76NJ398ZZFE2_Ymi-ixhyYAAnNNXE="
            alt="Product 4"
            class="rounded-t-lg"
          />
          <div class="p-4">
            <p class="font-semibold text-lg text-gray-800">
              Secure Online Payment with Razorpay
            </p>
            <p class="text-sm text-gray-600">
              Make secure online payments using Razorpay and protect your
              transactions.
            </p>
          </div>
        </div>
        <!-- Add more cards if needed -->
      </div>
      <div class="mt-8 text-center text-white">
        <a
          href="/api/products"
          class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"
          >Shop Now</a
        >
      </div>
    </div>

    <footer><%- include('./partials/footer') %></footer>

    <script src="/js/script.js"></script>
  </body>
</html>
