<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I-Mart shopping store</title>
    <link rel="icon" type="image/png" href="/images/i-mart-logo.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/f4d9037195.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body class="bg-white">
    <%- include('./partials/navbar') %>

    <div class="flex flex-col justify-center items-center mt-[4rem] mb-[2rem]">
      <div class="my-6 text-center text-black">
        <h1 class="text-2xl md:text-3xl font-bold">Welcome to I-Mart Store</h1>
      </div>
      <div class="flex flex-wrap justify-center">
        <div
          class="bg-white rounded-lg shadow-lg m-4 max-w-xs transform transition-transform duration-300 hover:scale-110 hover:shadow-xl"
        >
          <img
            src="https://media.istockphoto.com/id/1193750118/photo/beautiful-asian-woman-carrying-colorful-bags-shopping-online-with-mobile-phone.jpg?s=612x612&w=0&k=20&c=j1SpSX7c3qzBrUT5f7HRoOfxQnPxZY_c6yb3AvXA5f8="
            alt="Product 1"
            class="rounded-t-lg"
          />
          <div class="p-4">
            <p class="font-semibold text-lg text-gray-800">Fashion Shopping</p>
            <p class="text-sm text-gray-600">
              Discover the latest fashion trends and shop for your favorite
              clothing items.
            </p>
          </div>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg m-4 max-w-xs transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
        >
          <img
            src="https://media.istockphoto.com/id/525969104/photo/e-commerce-or-online-shopping-concept-home-appliance-in-shoppin.jpg?s=612x612&w=0&k=20&c=7q2OG1WvB_Eom_V9NlL2Uof_oZIiHvgqSRbmwASOmjo="
            alt="Product 2"
            class="rounded-t-lg"
          />
          <div class="p-4">
            <p class="font-semibold text-lg text-gray-800">
              Electronics & Beauty Products
            </p>
            <p class="text-sm text-gray-600">
              Explore a wide range of mobile devices and beauty products for all
              your needs.
            </p>
          </div>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg m-4 max-w-xs transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
        >
          <img
            src="https://media.istockphoto.com/id/1164181522/photo/shopping-online-concept-shopping-cart-or-trolley-on-a-laptop-keyboard-shopping-service-on-the.jpg?s=612x612&w=0&k=20&c=RCJF3Dzryq1vU5tQLLxfiWhL4SlroPAgK4CE_9-hghg="
            alt="Product 3"
            class="rounded-t-lg"
          />
          <div class="p-4">
            <p class="font-semibold text-lg text-gray-800">I-Mart E-commerce</p>
            <p class="text-sm text-gray-600">
              Build your online store with I-Mart and start selling products
              globally.
            </p>
          </div>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg m-4 max-w-xs transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
        >
          <img
            src="https://media.istockphoto.com/id/1499646887/vector/cash-back-offer-web-banner-refund-money-concept.jpg?s=612x612&w=0&k=20&c=i76zH_96H9Dfgj4bmLrHVduAZUJ0UwjOxClg6OH6620="
            alt="Product 4"
            class="rounded-t-lg"
          />
          <div class="p-4">
            <p class="font-semibold text-lg text-gray-800">
              Secure Online Payment with Razorpay
            </p>
            <p class="text-sm text-gray-600">
              Make secure online payments using Razorpay and protect your
              transactions.
            </p>
          </div>
        </div>
        <!-- Add more cards if needed -->
      </div>
      <div class="mt-8 text-center text-white">
        <a
          href="/api/products"
          class="text-green-700 hover:text-white border border-green-700 hover:border-none hover:bg-green-800 focus:ring-2 focus:outline-none focus:ring-green-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          >Shop Now</a
        >
      </div>
    </div>

    <footer><%- include('./partials/footer') %></footer>

    <script src="/js/script.js"></script>
  </body>
</html>
