<div class="fixed top-20 left-2 z-10">
  <a
    href="javascript:history.back()"
    class="text-lg text-white font-semibold bg-[#90a955] px-2 py-1 rounded-md hover:bg-[#5d7f3b] hover:text-white transition duration-300 ease-in-out"
    >Back <i class="fa-solid fa-arrow-left"></i
  ></a>
</div>
