<div
  class="alert-container fixed top-0 left-0 w-full z-50 flex justify-center mt-20"
>
  <!-- Success Alert Box -->
  <% if (success && success.length) { %>
  <div
    class="alert bg-green-100 border border-green-300 text-green-700 px-4 py-3 w-96 rounded-md relative"
  >
    <strong class="font-bold"><%= success %></strong>
    <button
      type="button"
      class="btn-close absolute right-1 top-1 py-2 px-3 ml-2 hover:border border-black rounded-md"
    >
      <i class="fa-solid fa-xmark text-black"></i>
    </button>
  </div>
  <% } %>

  <!-- Reject Alert Box -->
  <% if (reject && reject.length) { %>
  <div
    class="alert bg-red-100 border border-red-300 text-red-700 px-4 py-3 w-96 rounded-md relative"
  >
    <strong class="font-bold"><%= reject %></strong>
    <button
      type="button"
      class="btn-close absolute right-1 top-1 py-2 px-3 ml-2 hover:border border-black rounded-md"
    >
      <i class="fa-solid fa-xmark text-black"></i>
    </button>
  </div>
  <% } %>
</div>
