<footer class="bg-[#90a955] w-full py-2">
  <div class="container mx-auto flex flex-col lg:flex-row lg:px-6 md:px-2">
    <div class="w-full lg:w1/3 flex flex-col justify-center">
      <ul class="flex justify-center items-center justify-between px-4">
        <li
          class="lg:text-sm sm:text-xl font-semibold text-white p-2 border border-white-500 rounded-md hover:text-[#90a955] hover:bg-white"
        >
          <a href="/api/about">About Us</a>
        </li>
        <li
          class="lg:text-sm sm:text-xl font-semibold text-white p-2 border border-white-500 rounded-md hover:text-[#90a955] hover:bg-white"
        >
          <a href="/api/about#contact-us">Contact Us</a>
        </li>
        <li
          class="lg:text-sm sm:text-xl font-semibold text-white p-2 border border-white-500 rounded-md hover:text-[#90a955] hover:bg-white"
        >
          <a href="/api/about#contact-us">Term & Conditions</a>
        </li>
        <% if (!currentUser) { %>
        <li
          class="lg:text-sm sm:text-xl font-semibold text-white p-2 border border-white-500 rounded-md hover:text-[#90a955] hover:bg-white"
        >
          <a href="/api/user/login">Login</a>
        </li>
        <% } else { %>
        <li
          class="lg:text-sm sm:text-xl font-semibold text-white p-2 border border-white-500 rounded-md hover:text-[#90a955] hover:bg-white"
        >
          <a href="/api/user/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div>
    <div class="w-full lg:w1/3 flex flex-col">
      <div class="flex justify-center items-center mt-1">
        <p
          class="text-gray-300 text-center text-md font-semibold justify-center"
        >
          &copy; Shopify 2024. All rights reserved.
        </p>
      </div>
    </div>
    <div class="w-full lg:w1/3 flex flex-col justify-center">
      <div class="flex justify-center justify-between px-4">
        <a class="text-2xl text-white transition-colors duration-300">
          <span class="font-semibold border-b border-white">Follow Us</span>
        </a>
        <a
          href="#"
          class="text-3xl text-white hover:text-blue-600 transition-colors duration-300"
        >
          <i class="fab fa-facebook-square"></i>
        </a>
        <a
          href="#"
          class="text-3xl text-white hover:text-orange-700 transition-colors duration-300"
        >
          <i class="fab fa-instagram-square"></i>
        </a>
        <a
          href="#"
          class="text-3xl text-white hover:text-black transition-colors duration-300"
        >
          <i class="fa-brands fa-square-x-twitter"></i>
        </a>
        <a
          href="#"
          class="text-3xl text-white hover:text-blue-900 transition-colors duration-300"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="#"
          class="text-3xl text-white hover:text-green-900 transition-colors duration-300"
        >
          <i class="fab fa-whatsapp-square"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
