<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopify - Your Ultimate E-commerce Destination</title>
    <link rel="stylesheet" href="/css/starablity.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/f4d9037195.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <header><%- include('../partials/navbar') %></header>
    <main><%- body -%></main>

    <script src="/js/script.js"></script>
    <script src="/js/like.js"></script>
    <script src="/js/payment.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  </body>
</html>
